.login-screen button {
    margin-top: 15px;
    margin-left: 133px;
    background-color: #E7E7E7;
    color: #696969;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 9px;
    width: 109px;
    height: 45px;
}
.login-screen button:hover {
    filter:brightness(120%)
}
.login-screen {
    background-color: #FFFFFF;
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.login-screen img {
    width: 130px;
    height: 92px;
    margin-left: 122px;
    margin-top: 72px;
}
.login-screen input {
    margin-left: 57px;
    margin-top: 94px;
    font-size: 18px;
    width: 261px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #FFFFFF;
}
.login-screen input::placeholder {
    font-weight: 400px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}
.container {
    background-color: #E5E5E5;
    width: 375px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.hidden {
    display: none;
}
header {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 4px 6px 0px #0000000D;
    
}
header img {
    width: 75px;
    height: 53px;
    padding-left: 22px;
}
header ion-icon {
    font-size: 40px;
    padding-right: 22px;
}
ul {
    margin-top: 106px;
    margin-bottom: 80px;
    width: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
li {
    display: flex;
    flex-wrap: wrap;
}
.chat-box-joining {
    background-color: #DCDCDC;
}
.chat-box-leaving {
    background-color: #DCDCDC;
}
.chat-box-public  {
    background-color: #FFFFFF;
}
.chat-box-private {
    background-color: #FFDEDE;
}
ul div {
    padding: 8px;
}
.time {
    color: #AAAAAA;
}
.user {
    font-weight: 700;
}
footer {
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 587px;
}
p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin-left: 17px;
}
footer input {
margin-left: 17px;
font-size: 18px;
width: 200px;
padding: 7px 0;
border: none;
}
footer input::placeholder {
    font-weight: 400px;
    font-style: italic;
    font-size: 18px;
}
footer ion-icon {
    font-size: 30px;
    border: none;
}
footer button {
    margin-right: 18px;
}
aside {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 375px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opaque {
    width: 116px;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
}
.participants-list {
    width: 259px;
    height: inherit;
    left: 116px;
    background-color: #FFFFFF;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
}
.users-text {
    width: 259px;
    height: 84px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.participants-list ul {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}
.participants-list ion-icon {
    font-size: 24px;
    margin-right: 8px;
    margin-left: 20px;
}
.participants-list button {
    border: none;
    background-color: #FFFFFF;
}
.visibility-text {
    width: inherit;
    height: 66px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.marked {
    color: #28BB25;
    font-size: 24px;
    padding-left: 10px;
}
.markedVisibility {
    color: #28BB25;
    font-size: 24px;
    padding-left: 10px;
}